table#main, th,td{
border: 1px solid black;
}

td#tblmain{
text-align:center;
border:none;
padding-bottom:2px;
padding-top:2px;
}

td#tblmain:hover{

background-color:#ccc;
}
    
table {
width: 100%;
}

.header{
width : 75%;
text-align:center;
display:inline-block;

 }
 
 .btnaddpage{
 width : 15%;
 display:inline-block;

  }
 
 
 
