.nav{
position:fixed;
top : 0;
right : 0;
left :0;
background:black;

padding:16px;
 }
 
 .nav a{
 color:white;
 padding: 16px;
 text-decoration: none;


  }
  
 .nav a:hover {
 background-color: #555;
}

body{
background-color:#eee;
 }
 
.header{
position:static;
margin-top: 64px;
 }
 
 
 
.footer{
position:fixed;
bottom: 2px;
}

.footer a{
color:black;
text-decoration:none;
 }
 
 .footer a:hover{
 color:#999;
  }

