<% include headerAdmin.ejs %>

<div class="edit">
	<form method="post">
		<input type="email" placeholder="enter your email" name="userid"><br>
		<input type="password" placeholder="enter a password" name="pswrd"><br>
		<input type="submit" value="Save" name = btnsave>
	</form>
</div>

<% include footer.ejs %>
