<% include headerAdmin.ejs %>

<form>
	<input type="text" placeholder="title" id="title" name = "title"><br>
	<textarea placeholder="content" id="content" name = "content"></textarea><br>
	<input type="text" placeholder="please enter a url" id="url" name = "url"><br>
	<a href="/admin/addpage/save"> <input type="button" value = "Save" name = "save" id = "save"></a>

</form>

<% include footer.ejs %>
