<% include headerAdmin.ejs %>

<form method="post" action = "/admin/editpage/save/<%=pages.id%>">
	<p>titel: <%= pages.title%><p>
	<input type="text" placeholder="title" id="title" name = "title"><br>
	<p>content: <%= pages.content%><p>
	<textarea placeholder="content" id="content" name = "content"></textarea><br>
	<p>url: <%= pages.url%><p>
	<input type="text" placeholder="please enter a url" id="url" name = "url"><br>
    <input type="submit" value = "Save">

</form>

<% include footer.ejs %>
