<% include header.ejs %>

<div class="header">
	<h1>Mantejs Website</h1>
</div>

<div class="body">
	 <p>In this website you can create and edit pages</p>
</div>


<% include footer.ejs %>
