<% include headerAdmin.ejs %>

<div class = "header">
	    <h1><%= title %><h1>
</div>

<div class="body">
	 <p><%= content %></p>
</div>


<div class="footer">
	<p>Created By <a href="mailto:<%=useremail%>"><%=useremail%> </a>.</p>
</div>
	
  </body>
</html>
